<div class="dashboard-container">
    <div class="search-container">
        <mat-form-field>
            <mat-icon matPrefix
            svgIcon="search" 
            (click)="onSearch()" 
            class="search-icon-clickable" />

            <input matInput
            placeholder="Digite para buscar.." 
            [(ngModel)]="searchTerm" 
            (keyup.enter)="onSearch()" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-select name="statusField" 
            [(value)]="statusSelect" 
            (selectionChange)="setStatus($event)"
            placeholder="Selecione um status">

                <mat-option value="">Selecione um status</mat-option>
                @for (statusOption of statusOptions; track statusOption[0]) {
                <mat-option [value]="statusOption[0]">
                    {{statusOption[1]}}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>

    <app-machine-table [machines]="machines" 
    (pageChanged)="setPage($event)" 
    [page]="page" 
    [pageSize]="pageSize"
    [total]="total"
    (deleteMachine)="deleteMachine($event)"
    />

    <app-map [machines]="machines" />
</div>